.blink_me {
  animation: blinker 1s linear normal;
}

.move-up {
  animation: MoveUpDown 1s linear normal;
  position: relative;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: none;
    position: relative;
  }
  50% {
    transform: translateY(-10px);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
    transform: scale(.1);
  }

  85% {
    opacity: 1;
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}


@keyframes blinker {
  50% {
    opacity: 0;
  }
}

line,
circle {
  stroke: black;
  stroke-width: 4;
  @extend .blink_me;
}

.main {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forca {
  max-width: 330px;

  svg {
    max-width: 330px;
  }
}

ul {
  display: flex;
  flex-wrap: wrap;

  li {
    list-style: none;
  }
}

.box {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 70%;
}

.palavra {
  li {
    border-bottom: 2px solid;
    min-width: 20px;
    margin-right: 16px;
    padding: 8px;
    padding-bottom: 1px;
    font-size: 36px;
  }
}

.teclado-box {
  width: 100%;

  ul {
    justify-content: center;
    margin-top: 20px;

    >li {
      animation: FadeIn 1s linear;
      animation-fill-mode: both;
    }
  }

  button {
    margin-right: 16px;
    margin-bottom: 16px;
    font-size: 36px;

    color: #003767;
    background: #fff;
    border: 2px solid #003767;

    &[disabled] {
      opacity: 0.5;
    }

    &:not([disabled]) {
      cursor: pointer;
    }
  }



}

.dica {
  font-size: 20px;
}

.botoes {
  button {
    background-color: #EC7000;
    color: #FFFFFF;
    border: none;
    margin-right: 18px;
    padding: 8px;
    text-transform: uppercase;
  }
}
